# Compiled binaries
a.out
*.out
*.o
*.d
*.obj
*.exe
module00/ex00/megaphone
module00/ex01/phonebook
module04/ex00/animal
module04/ex01/brain

# Libraries
*.a
*.so
*.dylib

# Debug
*.dSYM/
*.gch
*.pch

# Editor / OS
.vscode/
.idea/
.ccls-cache/
*.swp
*~
.DS_Store

# Subject PDFs
*.pdf

ref/
stufffromintra/
*.txt
